/*页面中的所有标签,去除默认偏移量
margin:代表外边距：上右下左。元素没有重合（覆盖）时可以使用
 padding: 0;//代表内边距,元素有重合时使用
*/
*{
   margin: 0;
    padding: 0;
}
body{
    background: rgb(244,244,246);
    padding-top: 44px;
    padding-bottom: 49px;
}
header{
    color: white;
    line-height: 44px;
    font-size: 18px;
    background: rgb(40,133,202);
    text-align: center;
    width: 100%;
    /*找到放置的位置*/
    left: 0;
    top: 0;
    /*固定在此位置*/
    position: fixed;
    z-index: 99;
}
.DS_second_section img{
    width: 100%;
}
.DS_fisrt_ul{
    /*负值代表向上移*/
    margin-top: -6px;
}
footer{
    display: table;
    width: 100%;
    height: 49px;
    background-color: black;
    left: 0;
    bottom: 0px;
    position: fixed;
}
footer a{
    display: table-cell;
    color: white;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none
}
footer a span{
    display: block;
    font-size: 12px;
}
footer img{
    width: 20px;
    height: 20px;
}
.BP_first_section{
    display: table;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: rgb(244,244,246);
    z-index: 99;
    position: fixed;
}
.BP_first_section a{
    display: table-cell;
    width: 33.3%;
    vertical-align: center;
    text-decoration: none;
    color: black;
}
.BP_second_section{
    padding-top: 44px;
}
.BP_second_section img{
    width: 100%;
}
.BP_first_div{
    background: white;
    text-align: center;
    font-size: 12px;
}
.BP_first_div img{
    width:100%;
}
.BP_first_div p{
    font-size: 10px;
    color: gray;
}
.BP_second_div{
    text-align: center;
    font-size: 12px;
}
.BP_second_div img{
    width: 100%;
}
.BP_second_div_inner{
    font-size: 10px;
    text-align: left;
    line-height: 2em;
    margin-left: 20px;
    color: gray;
}
.BP_third_div{
    text-align: center;
    background: white;
    font-size: 12px;
}
.BP_third_div_inner{
    text-align: left;
    font-size: 10px;
    color: gray;
    line-height: 2em;
    margin-left: 20px;
}
